body{
	background-color: #4682b4;
}
h1{position: absolute;
	right: 100px;
	left:330px;

}
input{
	position: absolute;
	top: 130px;
	left: 400px;
	right: 100px;
	bottom: 290px;
	height:35px; 
	width:150px;
}
button{
	position: absolute;
	left: 552px;
	right: 100px;
	bottom: 426px;

}
ol{
	font-size: 175%;
	font-family: sans-serif;
	position: absolute;
	top:   230px;
	bottom:  100px;
	left:    290px;
	right:   20px;

}
